.html {
    height: 100%;
    margin: 0;
}

.body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(162, 162, 162)

}



.header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 0;
}

.box {
    display: flex;
    align-items: flex-start;
    
    flex-direction: row;
    width: 40%;
    height: 100%;
    justify-content: center;
    margin: 10px;
    margin-top: 0;
    margin-left: 0;
}

.divBox {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;

}

.box1Content {
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-color: rgb(210, 217, 217);
}

.box2Content {
    display: flex;
    align-items: ;
    justify-content:center;
    width: 100%;
    height: 20%;
    margin-top: 10px;
    background-color: rgb(210, 217, 217);
}

.box2Content > div:first-child {
    background-color: red;
   
}

.box2Content > div:last-child {
    background-color: blue;
}

#buttonIZA {
   width: 100px;
   height: 40px;
   border-radius: 10px;

}

.box2 {
    display: flex;
    align-items: flex-start;
    
    flex-direction: row;
    width: 60%;
    height: 100%;
    justify-content: center;
    margin-top: 0;
    flex-direction: column;
}

.derechaArriba {
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100%;
    height: 5%;
    background-color: rgb(210, 217, 217);
}

.derechaArriba > div {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 100%;
    height: 100%;
}

#busqueda {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.derechaAbajo {
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100%;
    height: 95%;
    margin-top: 10px;
    background-color: rgb(210, 217, 217);
}